<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${msg}">Kalkulator</h1>
    <form  method="post", th:object="${number}">
        <label>Number 1 : </label>
        <input type="text" id="num1" name="num1">
        <br>
        <label>Number 2 : </label>
        <input type="text" id="num2" name="num2">
        <br>
        <input type="submit" value="+" th:formaction="@{/add}">
        <input type="submit" value="-" th:formaction="@{/sub}">
        <input type="submit" value="x" th:formaction="@{/mul}">
        <input type="submit" value="/" th:formaction="@{/div}">
        <input type="submit" value="Reset" th:formaction="@{/reset}">
        
    </form>
    
    <h2 th:text="${result}"></h2>
</body>
</html>